<!-- Extending a Base Template -->
{% extends 'master.html' %}

<!-- Defining the Content Block -->
{% block content %}

<h2>All Blogs</h2>
<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    
      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search" method="GET" action="{% url 'all_blogs' %}">
            <input type="search" name="q" class="form-control" placeholder="Search by Title or Author..." 
                   aria-label="Search" value="{{ query }}">
        </form>
      </div>
    </div>
  </header>


<!-- Displaying Blog Posts -->
{% for blog in blogs %}

<!-- Showing Each Blog as a Card -->
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'blog_detail'  blog.id %}">{{ blog.title }}</a></h5>
        <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
    </div>
</div>
{% empty %}
<p>You have no blogs yet.</p>
{% endfor %}

<!-- Pagination -->
<nav>
    <ul class="pagination">
        {% if blogs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&q={{ request.GET.q }}&category={{ request.GET.category }}">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ blogs.previous_page_number }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Previous</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ blogs.number }}</span>
        </li>

        {% if blogs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ blogs.next_page_number }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ blogs.paginator.num_pages }}&q={{ request.GET.q }}&category={{ request.GET.category }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}